{% extends 'base.html' %}
    {% block body %}
        <h1>Login!</h1>
        <p>Welcome!</p>
        <form method='post'>
            <div class="row mb-3">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" placeholder="email@email.com" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        {% if msg %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
        {% endif %}
    {% endblock %}