#gitlab
gitlab/config
gitlab/data
gitlab/logs
#grafana
grafana-stack/grafana
grafana-stack/influxdb
#kafka-stack
kafka-stack/zk-single-kafka-single
#jenkins
jenkins/jenkins_home
#redis
redis/data
#sonarqube
sonarqube/sonarqube_conf
sonarqube/sonarqube_data
sonarqube/sonarqube_extensions
sonarqube/sonarqube_bundled-plugins
sonarqube/postgresql
sonarqube/postgresql_data
#sqlserver
sqlserver/mssql