version: '2.3'

services:
  nexus3:
    image: sonatype/nexus3
    container_name: nexus3
    mem_limit: 2048m
    restart: always
    ports:
      - 8081:8081
    volumes:
      - ./nexus-data:/nexus-data
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
